@layer components {
  .avatar-circle {
    @apply w-[60px] h-[60px] rounded-full object-cover;
  }

  .avatar-circle-initial {
    @apply w-[60px] h-[60px] rounded-full text-white flex text-xl font-bold items-center justify-center transition-transform duration-300 ease-in-out;
    background: var(--primary-color);
  }

  .avatar-circle-sm {
    @apply w-8 h-8 rounded-full object-cover mr-3;
  }

  .avatar-circle-sm-initial {
    @apply w-8 h-8 rounded-full flex items-center justify-center mr-3 text-white text-sm font-bold;
    background: var(--primary-color);
  }

  .avatar-circle-lg {
    @apply w-20 h-20 rounded-full object-cover;
    border: 3px solid #8aa3e8;
  }

  .avatar-circle-lg-initial {
    @apply w-20 h-20 rounded-full flex items-center justify-center text-white text-lg font-bold;
    background: var(--primary-color);
    border: 3px solid #8aa3e8;
  }
}